* {
	margin: 0;
	padding: 0;
	word-break: keep-all;
}

body {
	color: white;
	font-family: "Noto Sans KR", sans-serif;
	background: rgb(48, 50, 68);
}

button {
	background-image: none;
	background-color: none;
	border: none;
	font-family: "Noto Sans KR", sans-serif;

	font-size: 16px;
	font-weight: 500px;
	padding: 16px 20px;
	border-radius: 28px;
	cursor: pointer;
	margin: 10px 0;
}

.button-white {
	border: rgba(255, 255, 255, 0.8) solid 1px;
	background-color: rgba(255, 255, 255, 0.05);
	color: white;
	transition: all ease-in-out 0.3s;
}

.button-white:hover {
	background-color: rgba(255, 255, 255, 0.2);
	transition: all ease-in-out 0.3s;
}

.button-dark {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	transition: all ease-in-out 0.3s;
}

.button-dark:hover {
	background-color: rgba(0, 0, 0, 0.6);
	transition: all ease-in-out 0.3s;
}

#navigation {
	display: flex;
	justify-content: space-between;
	background-color: #020202;
	color: black;
	align-items: center;
	padding: 12px;
	height: 60px;
	position: sticky;
	top: 0;
	font-family: "Montserrat";
}

#home-logo {
	width: 60px;
	height: auto;
	margin-left: 40px;
}

a.nav-item {
	text-decoration: none;
	color: white;
	font-weight: 300;
	font-size: 16px;
	margin-right: 30px;
	transition: all ease-in-out 0.3s;
}

a.nav-item:hover {
	border-bottom: thistle solid 1px;
}

#banner {
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background: rgb(2, 46, 83);
	background: linear-gradient(
		90deg,
		rgba(2, 46, 83, 1) 0%,
		rgba(2, 46, 83, 1) 23%,
		rgba(8, 31, 50, 1) 77%,
		rgba(5, 33, 55, 1) 100%
	);
	color: white;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#banner .wrapper{
    margin: 20px auto;
    max-width: 1024px;
}

#banner h4,
#banner h3 {
	font-weight: 300;
}

main {
	padding: 50px 0; /* Footer height */
	margin: 0 auto;
	width: 100%;
	background-color: white;
	color: black;
}

#main,
#schedule,
#about,
#speakers {
	max-width: 1024px;
	width: 80%;
	margin: 0 auto;
}

#nav-hamburger {
	display: none;
}

#main {
	display: grid;
	grid-template-columns: 55% 40%;
	column-gap: 28px;
}

#poster {
	width: 100%;
	height: auto;
}

@media screen and (max-width: 768px) {
	/*Navigation*/

	#navigation {
		display: flex;
		justify-content: space-between;
		height: 50px;
	}

	#home-logo {
		width: 60px;
		height: auto;
		margin-left: 12px;
	}

	#nav-hamburger {
		display: block;
		margin-right: 12px;
		cursor: pointer;
		color: white;
	}

	#nav-container {
		background-color: #020202;
		display: none;
		position: absolute;
		top: 74px;
		right: 0;
		flex-direction: column;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px;
	}

	#nav-container a {
		display: block;
		text-align: right;
		padding: 12px;
		margin: 0 4px;
		font-size: 16px;
	}

	#main {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 24px;
	}

	#main,
	#schedule,
	#about {
		width: 90%;
	}
}

footer {
	width: 80%;
	height: 100px;
	display: flex;
	padding: 10px 10%;
	justify-content: space-between;
	font-weight: 200;
}

#footer-left {
	margin-top: 20px;
	text-align: left;
}

#footer-right {
	margin-top: 20px;
	text-align: right;
}

@media screen and (max-width: 768px) {
	footer {
		width: 80%;
		display: block;
		padding: 10px 10%;
		justify-content: space-between;
	}
    } 
	}

	#footer-left {
		margin-top: 8px;
		text-align: left;
	}

	#footer-right {
		margin-top: 8px;
		text-align: left;
	}
}

#intro {
	font-size: 18px;
	font-weight: 300;
}

.box-title {
	font-weight: 500;
	font-size: 24px;
	margin: 12px 0;
}

#main-button {
	margin-top: 30px;
}

/*General Pages*/

.page-title {
	font-weight: 500;
	font-size: 32px;

	color: white;
	width: 100%;
	padding: 10px 0;
}

.page-title-text {
	margin: 10px auto;
	max-width: 1024px;
	width: 80%;
}

@media screen and (max-width: 768px) {
	.page-title {
		font-size: 24px;
	}
}

/*Schedule page*/

#session-wrapper {
	display: grid;
	grid-template-columns: 50% 50%;
}

#schedule {
	background-color: white;
	color: black;
	padding: 28px 16px;
}



table{
    line-height: 2;
    font-size: 18px;
    width: 100%;
    border-collapse:collapse;
	color: black;
}

thead{
    font-weight: 500;
}

tbody{
    font-weight: 300;
    text-align: center;
}

td{
    border: 1px solid black;
}

.name{
    font-size: 20px;
    font-weight: 500;
}
.title{
    font-size: 16px;
}

table{margin-top: 16px;}

@media screen and (max-width:768px) {
    table{
        font-size: 14px;
    }

    td{
        padding: 3px;
    }

    .name{
        font-size: 14px;
        font-weight: 500;
    }
    .title{
        font-size: 12px;
    }
}

.time-range {
	font-weight: 300;
}

.session-title {
	background-color: #dadafe;
	color: black;
	font-size: 16px;
	padding: 4px 8px;
	border-radius: 4px;
}

.session-info {
	font-size: 12px;
	font-weight: 300;
}

.session {
	padding: 0 12px;
	margin-bottom: 20px;
}

.session-presentation,
.tutorial-presentation {
	border: #dadafe solid 1px;
	border-radius: 4px;
	margin-top: 8px;
	padding: 8px;
}

.presenter {
	display: grid;
	grid-template-columns: 70px auto;
	grid-template-rows: auto auto;
	margin-bottom: 8px;
}

.presenter-name {
	grid-row-start: 1;
	grid-row-end: 3;
	font-size: 20px;
	font-weight: 500;
	align-self: center;
}

.presenter-affil,
.presenter-reserach {
	font-size: 12px;
	font-weight: 300;
	color: gray;
}

.tutorial-presentation .presenter-affil {
	grid-row-start: 1;
	grid-row-end: 3;
	align-self: flex-end;
	margin-bottom: 4px;
}

.tutorial-presentation {
	margin-top: 0;
	margin-bottom: 12px;
}

#tutorials {
	padding: 0 12px;
    padding: 0 12px; 
	padding: 0 12px;
	margin-bottom: 20px;
}

.p-title {
	font-size: 16px;
	font-weight: 300;
}

.d-title {
	font-size: 20px;
	font-weight: 500;
	padding: 0 12px;
}

@media screen and (max-width: 1150px) {
	#session-wrapper {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
	}
}

@media screen and (max-width: 768px) {
	#schedule {
		display: grid;
		padding: 0px 8px;
		grid-template-columns: 1fr;
		place-items: center;
	}

	.session,
	#tutorials {
		padding: 0;
		width: 100%;
	}

	.time {
		margin-bottom: 20px;
		text-align: center;
	}

	.d-title {
		font-size: 20px;
		text-align: center;
	}
}

/* Panelists Page */

.panel-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.panel-format {
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 32px;
	border-radius: 5px;
	margin: 12px 16px;
	display: grid;

	grid-template-columns: 200px 1fr;
	column-gap: 16px;
	row-gap: 16px;
	max-width: 600px;

	margin: 32px auto;
}

.panel-format .info {
	font-size: 12px;
	font-weight: 500;
	color: gray;
	text-align: right;
	align-self: center;
}

.panel-image {
	height: 200px;
	width: 200px;
	background-size: cover;
	border-radius: 100%;
	margin: 8px auto;
}

.panel-job {
	list-style-position: inside;
}

.panel-titlebox {
	grid-column-start: 1;
	grid-column-end: 3;
	justify-self: center;
	justify-content: center;
}

.panel-tag-wrapper {
	grid-column-start: 1;
	grid-column-end: 3;
	justify-self: center;
	justify-content: center;
	display: flex;
}

.panel-tag {
	padding: 4px 12px;
	background-color: #dadafe;
	margin: 0 8px;
	border-radius: 20px;
}

.panel-basicinfo {
	display: flex;
	align-items: center;
}

.panel-name {
	font-weight: 500;
	font-size: 20px;
	margin-right: 20px;
}

@media screen and (max-width: 768px) {
	.panel-format {
		grid-template-columns: 100%;
		row-gap: 16px;
		max-width: 600px;
	}

	.panel-format * {
		grid-column: 1;
	}
	.panel-format .info {
		text-align: left;
		align-self: center;
	}
}

/* About us page */

.subtitle {
	font-weight: 500;
	font-size: 24px;
	margin-top: 16px;
}

.teams {
	font-weight: 500;
	font-size: 18px;
	margin-top: 8px;
}

.member {
	font-size: 16px;
	margin-top: 4px;
}
